
/*ChatPane*/
.ChatPane{
    width: 80%;
    display: inline-block;
    overflow: hidden;
}
.msgContent{
    width:100%;
    height: 660px;
    overflow: scroll;
    background-color: white;
}
.singleMsg{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.msg_content{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    position: relative;
}
.head_img{
    height: 50px;
    width: 50px;
    margin-top: 0px;
    display: inline-block;
    background-color: transparent;
    vertical-align: top;
}
.head_img img{
    object-fit: fill;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.content,.timeBlock{
    display: block;
    max-width: 100%;
}


.msg_content .content div{
    display: block;
    border-radius: 10px;
    text-align: start;
    line-height: 20px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    max-width: 100%;
    word-wrap: break-word;
}

.msg_content .timeBlock div{
    display: block;
    width: 100%;
    height: 20px;
    position: relative;
}
.timeBlock div{
    display: block;
    float: right;
    height: 20px;
    color: #777777;
    font-size: 10px;
    padding-top: 3px;
}

.receive .timeBlock div{
    text-align: start;
}
.send .timeBlock div{
    text-align: end;
}



.receive.singleMsg .msg_content .content::before{
    content: ' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    top:15px;
    border: 10px solid transparent;
    border-right-color: rgb(230,230,230);
}
.receive.singleMsg{
    zoom: 1;
}
.receive.singleMsg::after{
    content: ' ';
    display: block;
    clear: both;
}
.receive.singleMsg .head_img{
    float: left;
    margin-left: 10px;
}
.receive.singleMsg .msg_content{
    margin-left: 20px;
    float: left;
}
.receive.singleMsg .msg_content .content{
    float: left;
}
.receive.singleMsg .msg_content .content div{
    background-color: rgb(230,230,230);
}


.send.singleMsg .msg_content .content::after{
    content: ' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    float: right;
    right: -20px;
    top:15px;
    border: 10px solid transparent;
    transform: rotate(180deg);
    border-right-color: rgb(229,246,251);
}
.send.singleMsg{
    zoom: 1;
}
.send.singleMsg::after{
     content: ' ';
     display: block;
     clear: both;
 }
.send.singleMsg .head_img{
    float: right;
    margin-right: 10px;
}
.send.singleMsg .msg_content{
    margin-right: 20px;
    float: right;
}
.send.singleMsg .msg_content .content{
    float: right;
}
.send.singleMsg .msg_content .content div{
    background-color: rgb(229,246,251);
}


.sendMsgBar{
    display: block;
    width:100%;
    height: 55px;
    background-color: #efefef;
    position: relative;
}

.textBar{
    display: inline-block;
    width: 90%;
    position: relative;
    margin-top:5px;
    /*margin-right: 1%;*/
    margin-left:1%;
    vertical-align: top;
    float: left;
}
.textBar textarea{
    width:100%;
    height: 30px;
    font-size: 15px;
    resize: none;
    border-radius: 5px;
    background-color: #fffffe;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    position: absolute;
    top:3px;bottom:0;left: 0;right: 0;
    margin: 0 auto;
}

.moreBtnBlock{
    position: relative;
    display: inline-block;
    width:30px;
    height: 30px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 1%;
    float: left;
}
.moreBtn{
    position: absolute;
    display: block;
    width:30px;
    height: 30px;
    top:0;bottom:0;left: 0;right: 0;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid #555555;
}
.moreBtn i{
    position: absolute;
    width: 20px;
    height: 4px;
    left: 5px;right: 0;
    bottom:0;top:0;
    margin: auto 0;
    background-color: #555555;
    border-radius: 5px;

}
.moreBtn i::before{
    content: ' ';
    position: absolute;
    width: 4px;
    height: 20px;
    left: 8px;right: 0;
    bottom:0;top:0;
    margin: auto 0;
    background-color: #555555;
    border-radius: 5px;
}
.moreBtn{
}
.moreBtn:hover{
}


.emojiBtnBlock{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    vertical-align: top;
    margin-top: 10px;
    float: left;
    margin-left: 1%;
}
.emojiBtn{
    position: absolute;
    display: inline-block;
    width:30px;
    height: 30px;
    border-radius: 30px;
    left: 0;right: 0;
    top:0px;bottom: 0;
    margin: 0 auto;
    border: 1px solid #555555;
}
.emojiBtn i{
    position: absolute;
    display: block;
    width:  16px;
    height: 8px;
    border-radius: 0 0 18px 18px ;
    top: 18px;
    left: 7px;
    background-color: #555555;
}
.emojiBtn i::before{
    content: ' ';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #555555;
    border-radius: 4px;
    top:-10px;left: 0px;
}
.emojiBtn i::after{
    content: ' ';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #555555;
    border-radius: 4px;
    top:-10px;left: 12px;
}


.changeSendBtnBlock{
    position: absolute;
    display: inline-block;
    width:3%;
    height: 30px;
    vertical-align: top;
    top: 5px;
    float: right;
    right: 1%;
}
.changeSendBtn{
    position: absolute;
    display: block;
    width:30px;
    height: 30px;
    border-radius: 15px;
    top:0;bottom:0;left: 0;right: 0;
    margin: 0 auto;
}
.changeSendBtn::after{
    content: ' ';
    position: absolute;
    display: block;
    width: 2px;
    height: 2px;
    top:0px;
    left: 6px;
    border: 12px solid transparent;
    border-bottom: 18px solid #222222;
    border-radius: 5px;
}

.textBar textarea:focus,.sendBtn button:focus{
    outline: none;
}

/*qqFace*/
.qqFace{
    position: absolute;
    top:4px;
    background:#fff;
    padding:2px;
    border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}

/*animate*/
.animate{
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

.head_img.animate{
    animation-delay: 0s;
}

@keyframes bounceInUp {
    from,70%, to {
        animation-timing-function: cubic-bezier(35,.61,.02,.99);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }

    70% {
        opacity: 1;
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
.bounceInUp {
    animation-name: bounceInUp;
}

/*ChatGroup*/
.ChatGroup{
    width:20%;
    display: inline-block;
    overflow: scroll;
    background-color: cornsilk;
}

/*clearfix*/
.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}
.clearfix{
    zoom: 1;
}