
/*ChatPane*/
.ChatPane{
    width: 75%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.Pane{
    display: block;
    position:absolute;
    width:1000px;
    height: 650px;
    overflow: hidden;
    background-color: #efefef;
    border: 1px solid #bcbcbc;
    top:0;left:4%;bottom: 0;
    margin: auto;
    border-radius: 5px;
}

.msgContent{
    width:100%;
    height: 600px;
    overflow: scroll;
    background-color: #efefef;
}
.singleMsg{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.msg_content{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    position: relative;
}
.head_img{
    height: 50px;
    width: 50px;
    margin-top: 0px;
    display: inline-block;
    background-color: transparent;
    vertical-align: top;
}
.head_img img{
    object-fit: fill;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.content,.timeBlock{
    display: block;
    max-width: 100%;
}


.msg_content .content div{
    display: block;
    border-radius: 10px;
    text-align: start;
    line-height: 20px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    max-width: 100%;
    word-wrap: break-word;
}

.msg_content .timeBlock div{
    display: block;
    width: 100%;
    height: 20px;
    position: relative;
}
.timeBlock div{
    display: block;
    float: right;
    height: 20px;
    color: #777777;
    font-size: 10px;
    padding-top: 3px;
}

.receive .timeBlock div{
    text-align: start;
}
.send .timeBlock div{
    text-align: end;
}



.receive.singleMsg .msg_content .content::before{
    content: ' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    top:15px;
    border: 10px solid transparent;
    border-right-color: rgb(230,230,230);
}
.receive.singleMsg{
    zoom: 1;
}
.receive.singleMsg::after{
    content: ' ';
    display: block;
    clear: both;
}
.receive.singleMsg .head_img{
    float: left;
    margin-left: 10px;
}
.receive.singleMsg .msg_content{
    margin-left: 20px;
    float: left;
}
.receive.singleMsg .msg_content .content{
    float: left;
}
.receive.singleMsg .msg_content .content div{
    background-color: rgb(230,230,230);
}


.send.singleMsg .msg_content .content::after{
    content: ' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    float: right;
    right: -20px;
    top:15px;
    border: 10px solid transparent;
    transform: rotate(180deg);
    border-right-color: rgb(229,246,251);
}
.send.singleMsg{
    zoom: 1;
}
.send.singleMsg::after{
     content: ' ';
     display: block;
     clear: both;
 }
.send.singleMsg .head_img{
    float: right;
    margin-right: 10px;
}
.send.singleMsg .msg_content{
    margin-right: 20px;
    float: right;
}
.send.singleMsg .msg_content .content{
    float: right;
}
.send.singleMsg .msg_content .content div{
    background-color: rgb(229,246,251);
}


.sendMsgBar{
    display: block;
    width:100%;
    height: 65px;
    background-color: #efefef;
    position: relative;
}

.textBar{
    display: inline-block;
    width: 90%;
    position: relative;
    margin-top:5px;
    /*margin-right: 1%;*/
    margin-left:1%;
    vertical-align: top;
    float: left;
}
.textBar textarea{
    width:100%;
    height: 30px;
    font-size: 15px;
    resize: none;
    border-radius: 5px;
    background-color: #fffffe;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    position: absolute;
    top:3px;bottom:0;left: 0;right: 0;
    margin: 0 auto;
}

.moreBtnBlock{
    position: relative;
    display: inline-block;
    width:30px;
    height: 30px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 1%;
    float: left;
}
.moreBtn{
    position: absolute;
    display: block;
    width:30px;
    height: 30px;
    top:0;bottom:0;left: 0;right: 0;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid #555555;
}
.moreBtn i{
    position: absolute;
    width: 20px;
    height: 4px;
    left: 5px;right: 0;
    bottom:0;top:0;
    margin: auto 0;
    background-color: #555555;
    border-radius: 5px;

}
.moreBtn i::before{
    content: ' ';
    position: absolute;
    width: 4px;
    height: 20px;
    left: 8px;right: 0;
    bottom:0;top:0;
    margin: auto 0;
    background-color: #555555;
    border-radius: 5px;
}
.moreBtn{
}
.moreBtn:hover{
}


.emojiBtnBlock{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    vertical-align: top;
    margin-top: 10px;
    float: left;
    margin-left: 1%;
}
.emojiBtn{
    position: absolute;
    display: inline-block;
    width:30px;
    height: 30px;
    border-radius: 30px;
    left: 0;right: 0;
    top:0px;bottom: 0;
    margin: 0 auto;
    border: 1px solid #555555;
}
.emojiBtn i{
    position: absolute;
    display: block;
    width:  16px;
    height: 8px;
    border-radius: 0 0 18px 18px ;
    top: 18px;
    left: 7px;
    background-color: #555555;
}
.emojiBtn i::before{
    content: ' ';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #555555;
    border-radius: 4px;
    top:-10px;left: 0px;
}
.emojiBtn i::after{
    content: ' ';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #555555;
    border-radius: 4px;
    top:-10px;left: 12px;
}


.changeSendBtnBlock{
    position: absolute;
    display: inline-block;
    width:3%;
    height: 30px;
    vertical-align: top;
    top: 5px;
    float: right;
    right: 1%;
}
.changeSendBtn{
    position: absolute;
    display: block;
    width:30px;
    height: 30px;
    border-radius: 15px;
    top:0;bottom:0;left: 0;right: 0;
    margin: 0 auto;
}
.changeSendBtn::after{
    content: ' ';
    position: absolute;
    display: block;
    width: 2px;
    height: 2px;
    top:0px;
    left: 6px;
    border: 12px solid transparent;
    border-bottom: 18px solid #222222;
    border-radius: 5px;
}

.textBar textarea:focus,.sendBtn button:focus{
    outline: none;
}

/*qqFace*/
.qqFace{
    position: absolute;
    top:4px;
    background:#fff;
    padding:2px;
    border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}

/*animate*/
.animate{
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

.head_img.animate{
    animation-delay: 0s;
}

@keyframes bounceInUp {
    from,70%, to {
        animation-timing-function: cubic-bezier(35,.61,.02,.99);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    70% {
        opacity: 1;
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
.bounceInUp {
    animation-name: bounceInUp;
}

/*ChatMenu*/
.ChatMenu{
    width:25%;
    height:100%;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.ChatMenuPane{
    display: block;
    width:63px;
    height: 652px;
    top: 0;bottom:0;right: 1%;
    margin: auto;
    position: absolute;
    overflow: hidden;
    vertical-align: top;
    transition: all 0.5s;
}
.slideMenu{
    display: inline-block;
    width:60px;
    height: 650px;
    margin: auto;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    border: 1px solid #bcbcbc;
    vertical-align: top;
    transition: all 0.5s;
}

.menuBtn{
    display: block;
    height: 70px;
    width:60px;
    border-bottom:1px solid #bcbcbc;
    position: relative;
    text-align: center;
    color: #444444;

}
.menuBtn i{
    font-size: 40px;
    width: 40px;
    height: 40px;
    display: block;
    top: 0;bottom:0;left: 0;right: 0;
    margin: auto;
    position: absolute;


}
.menuBtn i:before{
    width: 40px;
    height:40px;
}
.menuBtn:hover{
    cursor:pointer;
}
.menuBtn i.animate{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.menuBtn.set{
    display: block;
    height: 50px;
    width:60px;
    border-bottom:1px solid #bcbcbc;
    position: absolute;
    text-align: center;
    color: #444444;
    bottom: 0;
}

.TalkerMenuPane{
    display: inline-block;
    width: 0px;
    height: 650px;
    border-top: 1px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    background-color: #fcfcfc;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    transition: all 0.5s;
}

.singleTalker{
    display: block;
    width:240px;
    height:71px;
    overflow: hidden;
    position: relative;

}

.infoBtnBlock{
    position: absolute;
    display: block;
    width: 38px;
    height: 20px;
    right: 0;
    top:0;
    z-index: 2000;
}
.infoBtn{
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-left: 1px;
}
.infoBtn i{
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 16px;
    color:#444444
}
.infoBtn:hover{
    cursor: pointer;
}
.infoBtn.info_ i:hover,.infoBtn.member_ i:hover{
    color: blue;
}


.TalkerMenuPane .head_img{
    display: inline-block;
    width:70px;
    height:70px;
    position: relative;
    vertical-align: top;
    z-index: 500;
}
.TalkerMenuPane .head_img img{
    object-fit: fill;
    height: 50px;
    width: 50px;
    border-radius: 25px;

    position: absolute;
    left:0;top:0;bottom:0;right:0;
    margin:auto;
}

.TalkerMenuPane .info{
    display: inline-block;
    width:170px;
    height:70px;
    /*background-color: goldenrod;*/
    position: relative;
    vertical-align: top;
    border-bottom: 1px solid #bcbcbc;
    z-index: 500;

}
.TalkerMenuPane .info h1{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.TalkerMenuPane .info h2{
    font-size:10px;
    padding-right: 5px;
    text-align: end;
}

.singleTalker .labelBottom{
    display: block;
    width:0;
    height: 70px;
    position: absolute;
    left: 0;top:0;bottom:0;right: 0;
    margin: auto;
    transition: all 0.3s;
    z-index: 0;
}
.singleTalker .labelTop{
    display: block;
    width:240px;
    height: 70px;
    position: absolute;
    background-color: transparent;
    z-index: 1000;
    cursor: pointer;
}



/*clearfix*/
.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}
.clearfix{
    zoom: 1;
}

/*chatNav*/
.chatNav{
    font-size: 20px;
}
.chatNav div{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 0;right: 0;
    top:0;bottom: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

/*waitPane*/
.waitPane{
    display: block;
    width: 140px;
    height: 80px;
    /*background-color: #00AA88;*/
    text-align: center;
}
.waitPane div{
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 50px;
    background-color: #00a2ff;
    border-radius: 15px;
    margin-left: 5px;
}
.waitPane .animate:nth-of-type(1){
    animation: waitAnimate 1.5s linear 0s infinite;
}
.waitPane .animate:nth-of-type(2){
    animation: waitAnimate 1.5s linear 0.3s infinite;
}
.waitPane .animate:nth-of-type(3){
    animation: waitAnimate 1.5s linear 0.9s infinite;
}
.waitPane .animate:nth-of-type(4){
    animation: waitAnimate 1.5s linear 1.2s infinite;
}
@keyframes waitAnimate {
    from,20%,40%,80%,to{
        animation-timing-function: cubic-bezier(1,1,1,1);;
    }
    from{
        transform: scaleY(1);
        opacity: 1;
    }
    20%{
        transform: scaleY(0.7);
        opacity: 0.8;

    }
    50%{
        transform: scaleY(0.3);
        opacity: 0.6;
    }
    80%{
        transform: scaleY(0.7);
        opacity: 0.8;
    }
    to{
        transform: scaleY(1);
        opacity: 1;
    }
}


